@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Roboto', sans-serif;
}



.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}


.home ul li {
    width: 22px;
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 20px 0;
    align-items: center;
    font-weight: bold;
}

.heading {
    width: 100%;
    display: flex;
    gap: 5px;
    margin: 20px 0;
    align-items: center;
    font-weight: bold;
    font-size: 13px;
}

.heading img {
    width: 22px;
}

.footer {
    display: flex;
    font-size: 10px;
    flex-wrap: wrap;
    gap: 15px;
    position: absolute;
    bottom: 0;
    /* margin-top: 35px;
    margin-left: 8px; */
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer a {
    color: rgb(124, 119, 119);
    text-decoration: none;
    /* margin-right: 20px; */
}

.footer div {
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.login {
    width: 100px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    background-color: rgb(213, 206, 206);
    font-size: 16px;
}

.signup {
    color: rgb(180, 171, 171);
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    margin: 0 20px;
    cursor: pointer;
}

.signup:hover {
    color: white;
    font-size: 16px;
}

.header > *{
    padding: 0px;
}

.inner {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.spl {
    font-size: 30px;
}

/* .spotify-playlist {
    position: relative;
} */

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0;
    max-height: 68vh;
    overflow-y: scroll;
}


.card {
    width: 180px;
    /* border: 2px solid red; */
    padding: 20px;
    /* background-color: #0e0e0e; */
    background: linear-gradient(#2c2a2a,#000000);
    border-radius: 5px;

    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}


.play {
    height: 25px;
    position: absolute;
    bottom: 12px;
}

.play-now {
    background-color: #1fdf64;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 35px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.card:hover {
    .play-now {
        opacity: 1;
        bottom: 95px;
    }
}

.playbar {
    position: fixed;
    bottom: 10px;
    background-color: #121212;
    width: 74%;
    height: 20px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.seekbar {
    height: 2px;
    width: 98%;
    /* border: 5px solid #121212; */
    background-color: green;
    position: absolute;
    bottom: 6px;
    border-radius: 10px;
}

.circle {
    /* position: absolute; */
    /* bottom: -5px; */
    position: relative;
    top: -8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #000000;
    left: 0%;
    transition: left 0.5s;
}

.circle2 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    bottom: 2px;
    left: 2.5px;
    background-color: #ff0000;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding: 0 25px;
}

.songbuttons {
    display: flex;
    cursor: pointer;
    position: fixed;
    left: 53%;
    bottom: 23px;
}

.songbuttons img {
    padding: 0 20px;
}

.song-list {
    height: 380px;
    overflow-y: auto;
}

.song-list ul {
    padding: 0 3px;
}

.song-list ul li {
    /* text-decoration: none; */

    list-style-type: decimal;
    display: flex;
    gap: 6px;
    cursor: pointer;
    padding: 12px 10px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 10px;
}


.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 10px;
    width: 50px;
}

.playnow img {
    font-size: 33px;
}

.info {
    width: 154px;
}

